/* Main Styles */

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.btn {
  background-color: #e6bb7a;
  border: solid 1px #e6bb7a;
  color: white;
}

/* Navbar */

.navbar-brand {
  font-weight: 400;
  text-align: center;
  width: 100%;
}

/* Home Jumbotron */

#homeJumbo {
  margin-bottom: 0;
  text-align: center;
  border-bottom: solid 1px #7ab9e6;
  background-color: white;
}

.jumbotron h1 {
  color: #7ab9e6;
  font-weight: 300;
}

.jumbotron p {
  padding: 10px 15px;
}

/* About */
.about {
  background-color: white;
  padding-top: 30px;
  margin: 0;
}

.about h2 {
  color: #7ab9e6;
  font-weight: 300;
}

.about p {
  padding: 10px 15px 0 15px;
}

.jumbotron a {
  background-color: #e6bb7a;
  border: solid 1px #e6bb7a;
  color: white;
  margin-top: 20px;
}
/* Contact Info */
.contact-info {
  text-align: center;
  background-color: white;
  border-top: solid 1px #7ab9e6;
  padding-top: 30px;
  margin-top: 40px;
}

.contact-info h3 {
  font-weight: 400;
  margin-bottom: 15px;
  color: #7ab9e6;
}

.contact-info p {
  margin-bottom: 10px;
}

.email {
  margin-bottom: 5px;
}

.phone {
  margin-bottom: 30px;
}

.email a,
.phone a {
  color: #e6bb7a;
}

/* PROJECTS Styles*/

.main-info {
  background-color: white;
}

/* Projects Jumbotron*/
#projectsJumbo {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: white;
}

/* Project Cards*/
.card {
  margin: 20px;
  padding: 12px;
  background-color: rgb(230, 230, 230);
}

.card-body {
  text-align: center;
}

.card-img-top {
  margin-top: 10px;
  border: solid 1px #7ab9e6;
}

.card p {
  margin-bottom: 20px;
}

.card a {
  margin: 5px;
  font-size: 0.8em;
}

/* About and Resume */
.mockup {
  text-align: center;
  margin: 20px;
}

/*---alert---*/
.alert {
  padding: 15px;
}

.alert-banner {
  background: #e6bb7a;
  padding: 5px 15px;
  color: white;
  display: flex;
  border-radius: 5px;
  width: 100%;
}

.alert-banner p {
  margin-bottom: 0;
}

.alert-banner-close {
  margin-left: auto;
  margin-right: 0;
  text-transform: uppercase;
}

.alert-banner-close:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-brand {
    font-weight: 400;
    text-align: left;
  }

  .main-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
  }
}
